@charset "UTF-8";
/* Body */
body {
	font-family: muli;
	background-color:#FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 915px;
	background-color: #FFFFFF;
	
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #FFFFFF;
	border-bottom: solid #000000;
	border-width: thin;
	
}
.logo {
    color: #35352D;
    font-weight: 400;
    text-align: center;
    width: 15%;
    float: left;
    margin-top: 12px;
    margin-left: -15px;
    letter-spacing: 2px;
    font-family: muli;
    font-style: normal;
    padding-bottom: 2px;
	text-decoration: none;
	
}
nav {
	float: right;
	width: 261px;
	text-align: left;
	margin-right: -18px;
	
	
}
header nav ul {
    list-style: none;
    float: left;
   
}
nav ul li {
    float: left;
    color: #35352D;
    font-size: 14px;
    text-align: left;
    margin-right: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: muli;
    font-style: normal;
    padding-top: 2px;
}
ul li a {
	color: #000000;
	text-decoration: none;
}
ul li:hover a {
    color: #65AB9C;
    font-family: muli;
    font-style: normal;
    font-weight: 400;
}

.header_image {
    color: #957D9A;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 1px;
    filter: drop-shadow(1px 1px 1px #35352D);
    font-family: muli;
    font-style: normal;
    font-weight: bold;
	
}
/* Header image */
.image {
	background-image: url("../images/IMG_0007.jpeg");
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
	margin-top: 25px;
	padding-top: 150px;
	padding-bottom: 150px;
	filter: drop-shadow(5px 5px 6px #35352D);
	
	
}
.light {
	font-weight: bold;
	color: #957D9A;
	
}
.tagline {
	text-align: center;
	color: #8FAA8F;
	margin-top: 4px;
	font-weight: bold;
	letter-spacing: 2px;
	filter: drop-shadow(1px 1px 1px #35352D);
	

}
/* About Section */
.text_about {
	width: 74%;
	text-transform: lowercase;
	text-align: justify;
	font-weight: bold;
	line-height: 25px;
	color: #35352D;
	border-left: #000000 ridge;
	border-width: thin;
	margin-left: 35px;
		

	padding-left: 10px;
	padding-bottom: 0px;
	
}

h2 {
    background-color: #FFFFFF;
    text-align: left;
    width: 75%;
    font-family: muli;
    font-style: normal;
    font-weight: 300;
	
}

.about {
	color: #35352D;
	width: 100%;
	text-align: center;
	padding-left: 15px;
	padding-right: 0px;
	padding-top: 35px;
	background-color: #FFFFFF;
	
}

/* Footer */
footer {
	background-color: #FFFFFF;
	padding-bottom: 0px;
}
.copyright {
    padding-top: 3px;
    text-align: center;
    color: #35352D;
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: muli;
    font-style: normal;
	
	
}
footer {
	align-content: center;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
	
.logo {
    width: 12%;
    text-align: center;
    margin-top: 20px;
	margin-left: 5px;
}
.text_about {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.header_image {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
    margin-top: 126px;
}
}

/* Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 10%;
	text-align: center;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	color: #000000;
}
	hr {
		
		margin-top: 250px;
	}

.text_about {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-left: -15px;
}

}

/* Small Desktop */
@media ( min-width : 768px ) and (max-width : 1095px ){
	
	.logo {
	width: 18%;
	text-align: center;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	color: #000000;
}
	
.text_about {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_about {
	width: 75%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
